<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center py-3">
        <h1>Gregslist</h1>
        <h2>Please choose a listing!</h2>
        <nav class="mb-3">
          <a href="#/cars">
            <button class="btn btn-success">Cars 🏎️</button>
          </a>
        </nav>
        <nav class="mb-3">
          <a href="#/homes">
            <button class="btn btn-success">Homes 🏠</button>
          </a>
        </nav>
        <nav class="mb-3">
          <a href="#/jobs">
            <button class="btn btn-success">Jobs 🤵‍♂️</button>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>